.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.left_header {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 999px;
  width: 200px;
  height: 35px;
  background-color: #eff2f5;
  padding: 10px;
}

.search_input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.middle_header {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header_option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header_option > .MuiSvgIcon-root {
  color: gray;
}

.header_option:hover > .MuiSvgIcon-root {
  color: #2e82f4;
}

.header_option--active {
  border-bottom: 4px solid #2e82f4;
  color: #2e82f4;
}

.header_option img:hover {
  background-color: #2e82f4;
}

.header_option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.right_header {
  display: flex;
  align-items: center;
}

.right_header h4 {
  margin-left: 5px;
}

.logo {
  cursor: pointer;
  margin-right: 5px;
}
.logo img {
  height: 40px;
}

#avatar {
  height: 40px;
}
